<HTML>
<HEAD> " classic view " </HEAD>
<BODY>
<div>
<form method="post" action="/youtube-tags-generator/#tags-generator-form">
<div class="pad-bottom-20">
<input id="video-input-box" required type="text" name="videotitle" placeholder="Enter your video title here" maxlength="100" style="width :200px; height : 60px;">
<button id="tag-button" class="upper bold" name="submit" type="submit">Generate Tags</button>
</div>
</form>
</div>
<div class="pad-bottom-20"></div>
<div class="pad-20">
</div>
</BODY>
</HTML>